#static-viz
  padding-left 30px

.static-container
  display flex
  flex-direction column
  justify-content space-between

.static-titles
  font-size medium
  font-weight 600

.metro-dots, .high-dots
  fill $dark-blue
  stroke $darkest-blue

.micro-dots, .middle-dots
  fill $light-blue
  stroke $corn-flower

.neither-dots, .low-dots
  fill $teal
  stroke $dark-teal
  opacity 0.6
