/* CUSTOM STORY STYLE */
.section
  margin 50px 100px
  min-height: 600px

//SOURCE: https://chartio.com/resources/tutorials/how-to-resize-an-svg-when-the-window-is-resized-in-d3-js/
.svg-container
  display inline-block
  position relative
  width 100%
  height 100%
  overflow hidden

.svg-content
  display inline-block
  position relative
  height: 100%
  top 0
  left 0
