/* SECTION */
.section
  margin 50px 100px
  min-height: 600px

.chart-area
  font-family $sans
  background-color: $off-white
  padding-top 50px
  width 100%
  text-align center

.article-text
  font-size 14px
  margin-left 30%
  margin-right 30%
  margin-top 30px
  margin-bottom 50px
  text-align center
  display block

/*TEXT STYLES*/
.blue-highlight
  background-color $dark-blue
  border-radius 3px
  color white
  padding 5px
  margin 0 2px


/*CHART STYLES*/
.svg-header
  font-family $sans
  font-size 24px
  line-height 48px
  font-weight 600

.svg-subheader
    font-size 18px
    line-height 36px

.svg-note
    font-size 14px
    font-style: italic
    color $gray-dark
    line-height: 28px
    margin 10px

.svg-axis-label
  font-size: 10px
  font-family: $sans-display
  color $gray-dark

.tooltip
  background-color white
  border 1px solid gray
  display flex

.plot-output
  font-weight 600
  background-color #253494
  padding 7px
  color white

.summary
  text-align: center
