.button.current
  background-color black
  color white

.button
  background grey
  color white

#intersection
  display flex
  flex-direction row
  justify-content space-between

.left-panel
  flex-basis 30%
  flex-shrink: 2

.selectedBar
  stroke black

.selectedRow
  background-color: rgb(218, 255, 193)

