// summary styles
.chart-cartogram
  font-family $sans
  font-size 24px
  background-color: $off-white
  padding-top 50px


.summary-percentage
  font-family $sans-fb
  display inline-flex
  flex-direction column
  font-size $large
  #percentage-text
    padding 10px

#summary-type
  font-family $sans-fb
  -webkit-appearance none;
  -moz-appearance none;
  border none
  color $white
  font-size 18px
  background-color: $dark-blue
  font-weight 600
  padding 10px


// graph styles
.selected-county
  fill $dark-blue

.unselected-county
  fill none
