// overall chart
#vis-comparison
  height 100%
  padding 25px

// inputs
#comparison-state
  border-bottom: 3px solid $teal

// axes and lines
#comparison-x
  fill $dark-blue

#comparison-y
  fill $light-blue

.line
  stroke-width 2px

.line-label
  font-size x-small

#availability-line
  stroke $dark-blue

#usage-line
  stroke $light-blue

// comparison points
.comparison-selected
  fill $teal
  stroke $light-blue
  stroke-width: 0.25
  opacity 0.5
  visibility visible
  &:hover
    fill $dark-blue
    stroke $dark-blue
    opacity 1

.comparison-unselected
  visibility hidden

// tooltips
.tooltip
  background-color $white
  border 1px solid $dark-blue
  border-radius 3px
  padding 10px
  position absolute
  text-align: center
  width 350px

.tooltip-contents
  width 100%

.tooltip-header
  margin-bottom: 15px

.tooltip-title
  font-weight: 600
  margin-bottom: 5px

.tooltip-stats
  display flex
  flex-direction: row
  justify-content: space-around

.tooltip-availability
  color $dark-blue

.tooltip-usage
  color $light-blue

.tooltip-stat
  font-size large
  font-weight: 600

.tooltip-description
  font-size x-small
