// visualization controls
.button.current
  background-color $dark-blue
  color white

.button
  background $white
  color $dark-blue
  border 1px solid $dark-blue
  padding 10px
  border-radius 5px

.button:hover
  color $dark-blue
  background-color: $gray-light

.controls
  display inline-flex
  margin-top 40px

.control-group
  margin-right 10px

.control-label
  text-align: left
  margin-bottom 10px
  font-weight 600

// main visualization layout
.multi-chart
  display flex
  flex-direction row
  justify-content center
  padding 30px

// table styles
#intersection-table>table
  border-collapse: true
  font-family: $sans
  height: 100%

.selectedRow
  background-color: $teal

.table-header-row
  background-color: $dark-blue
  color: $white

.table-header
  font-weight 600
  width 100%
  padding 10px

.table-rows
  padding 10px
  border-bottom 1px solid $gray-dark

.table-rows > td
  text-align center

.selectedBar
  fill $teal
  stroke $dark-teal
  stroke-width 1
