// summary styles
.summary-percentage
  font-family $sans-fb
  display inline-flex
  flex-direction column
  font-size $large
  #percentage-text
    padding 10px

#summary-type
  font-family $national
  border none
  border-bottom 3px solid blue
  color $black
  font-size 18px
  background-color: none
  padding 10px


// graph styles
.selected-county
  fill $dark-blue

.unselected-county
  fill none
