
.comparison
  display: flex
  flex-direction: row
  justify-content: space-around

.comparison-selected
  fill #fbabb8
  stroke #f880aa
  opacity 0.7
  visibility visible

.comparison-unselected
  visibility hidden
