<div class="article-text">
  <h2>Who's Online and Who's Not</h2>
  <p>
    When you compare availability to usage, you see some interesting trends.
    While the average availability across the United States is fairly high, the
    average population of each county using broaband
    <span class="blue-highlight"> is only 28%.</span>
    Furthermore, there are a lot of counties that are below the average
    threshold for both availability and usage.
    <span class="blue-highlight">
      Check out where your state lands among the crowd by selecting it in the
      dropdown menu.
    </span>
  </p>
  <p>
    Outside of the average availability and usage across the country, there is
    some crowding near the top of availability and usage scales - notably, among
    areas with larger popualtions. Let's unpack how population size, as well as
    income and race, may impact these metrics.
  </p>
</div>
