<div class="article-text">
  <h2> Location, Income, and Race - Oh My!
  <p>
    When you sepearte the counties by population or income, you notice some major, if unsurprising, differences. When it comes to location, metro areas, <span class="blue-underline">or counties that have more than 50,000 people</span> as per the <a href="https://www.hrsa.gov/rural-health/about-us/definition/index.html">Health Resources and Services Administration</a>, have higher availability and usage than rural communities. Here, rural simply means anything that is not a metro area, per the Census' definition. Rural, can further be broken up into two micro areas (or those with 2,500 to 49,999 people) and neither metro or micro areas (which has less than 2,500 people).
  </p>
  <p>
    While it may be easy to dismiss the digital divide issues in these areas due to the "lack of people", it's important to remember how essential the internet is to people, especially in a pandemic. Without reliable internet, people risked not being able to work, get vaccine shots, visit doctors, talk to family or go to school over the last two years alone.
  </p>
  <p>
    Furthermore, income also plays a role in the availability and usage of broaband within communities. We took the median income of each county and compared it to the national median income in 2017 - <span class="blue-underline">$61,372.</span> Using <a href="https://www.thebalance.com/definition-of-middle-class-income-4126870">Brookings' defintion</a> of the middle class, we create buckets for low-income communities (those counties whose median income was below 30% of the national median), middle-income communities (counties in which the median was at least 30% of median income, but less than 30% above it), and high-income communities (counties where the median income is more than 30% above the national median). Not only are there far fewer high-income communities, but they also higher levels of populations who can access and use broabdabnd internet. In comparison, the average availability and usage is much lower for middle-income and low-income counties.
  </p>
</div>
