<div class="article-text">
  <p>
    Yet, comparing income and location in isolation doesn't give credit to how
    the intersectiof of these factos can impact counties. To understand this
    impact, we developed a chart to that ranks the counties with the lowest
    availability and usage. We then compared their location type (metro versus
    micro versus macro), the median income and the racial majority of each
    county. Notably,
    <span class="blue-underline">
      low-income metro areas with non-white majority populations
    </span>
    deal with some of the worst broaband access across counties. Yet, majorite
    white rural areas also face lack of access issues, particularly in southern
    states.
  </p>
  <p>
    On the flip side, high-income areas with "low" availability and usage are
    doing considerably better even through they are at the bottom of the
    metrics' list in comparison to similar counties. These communities tend to
    be predominately white, however there are some majority non-white counties
    that make this list, such as Alexandria, VA.
  </p>
  <hr />
  <h2>So, Where Do We Go From Here? </h2>
  <p>While you're probably not going to be able to rush out build new
    infrastructure (even though the
    <a
      href="https://hbr.org/2021/07/how-to-close-the-digital-divide-in-the-u-s"
    >
      Biden administration has rolled out some introductory plans to close this
      gap</a>), this article does encourage us to think about the digital divide
    differently. As the
    <a
      href="https://hbr.org/2021/07/how-to-close-the-digital-divide-in-the-u-s"
    >the Harvard Review notes, </a>infrastructure is one part of the equation.
    Why do people under-utilize the internet? How can we make connectivity
    easier for a variety of communities, especially when considering education,
    age, ability and yes, location? The divide is more than just getting on to
    the internet - it's about creating digital spaces that are available to all
    of us.</p>
</div>
