<div class="article-text">
  <h2>Availability and Usage Across the United States</h2>
  <p>
    While the digital divide is typically thought of as not having any internet
    at all,
    <a
      href="https://hbr.org/2021/07/how-to-close-the-digital-divide-in-the-u-s"
    > the Harvard Business Review </a>
    reminds us that this is not simply a task of adding more infrastructure to
    more rural areas. Efforts are being made in this area to help bolster the
    wires and structures needed to make sure that children on farms in Alabama
    can do their homework just as easily in New York City. In fact the map
    above, provides potentially promising news. At the end of 2017,
    <span class="blue-underline">
      at least 90% of the population in 1,263 counties
    </span>
    had acess to broaband service at speeds defined by the FCC. That's a
    whopping 40% of counties in the dataset. If you set the threshold a little
    lower, you'll see that the numbers do even better. In
    <span class="blue-underline">2,660 counties</span>
    (or 84% of the counties in the dataset), at least half of the county's
    population has access to broaband internet.
  </p>
  <p>
    However, if you look at usage, you get a completely different story. Only
    <span class="blue-underline">15%</span>
    of the counties had at least half of their population using broadband
    internet at the end of 2019 and there are
    <span class="blue-underline"> only 5 counties </span>
    where 100% of the population uses broaband. What's the disconnect between
    availability and usage - and who is it affecting the most?
  </p>
</div>
