<div class="article-text" id="pre-viz-1">
  <p>
    In a country that laudes digital innovation as the future, it can be easy to
    forget that the internet is still a luxury for many communities across the
    United States. Issues with access to the internet stem from both the
    systematic exclusion of low-income and racially-diverse communities and
    infrastructural challenges. Combined together these issues create the
    foundation for what is known as the digital divide, or the gap in access -
    and as this article will argue - usage of broadband internet.</p>

  <p>
    In order to first contextualize this problem, we need to understand exactly
    what broadband internet is. According to
    <a
      href="https://www.investopedia.com/terms/b/broadband.asp"
    >Investopedia.com</a>, “broadband refers to various
    <span class="blue-underline">
      high-capacity transmission technologies
    </span>
    used to transmit data, voice, and video across long distances and at
    <span class="blue-underline">high speeds</span>”, including “coaxial cable,
    fiber optic cable, and radio waves”. First, note the need for
    “high-capacity” mediums. This means that connecting to broadband requires
    infrastructure well beyond the cost of the individual consumers. As such,
    consumers rely on internet service providers to build new infrastructure and
    offer fair prices to access the internet.

    <p>
      Secondly, the definition also notes that your connection should be fast.
      In fact,
      <a href="https://www.verizon.com/info/definitions/broadband/">
        the Federal Communications Commission (FCC) dictates that
      </a>
      broadband internet must meet download speeds of 25 megabits per second and
      upload speeds of 3 megabits per second to qualify broadband. If you think
      these speeds sound slower than the ones you hear advertised by ISPs on
      television, you’re not wrong. As
      <a href="https://www.verizon.com/info/definitions/broadband/">
        Verizon notes</a>, “25 Mbps should be enough” for everyday tasks, but
      you still might run into lagging and buffering. And definitely don’t
      expect to be able to play high-bandwidth games!</p>
  </p>

  <p>Despite the seemingly low benchmark for broadband service, it’s eye-opening
    how many counties and communities across the country may not even have
    access to that. This article combines broadband data collected by
    <a
      href="https://github.com/microsoft/USBroadbandUsagePercentages"
    >Microsoft</a>
    with data from the
    <a
      href="https://data.census.gov/cedsci/all?q=american%20community%20survey"
    >2017 American Community Survey (ACS)</a>
    to explore the availability and usage of broadband internet service across
    U.S. counties. Let's take a broad look at the condition of the country and
    then dive into the roles of location, class, and race in the digital divide.</p>
</div>
