<div class="chart-area" id="static-viz">
  <div class="svg-container static-container" id="static-type">
    <div class="svg-header">Availability vs. Utilization Across Count Type</div>
    <div class="svg-subheader">Counties that are
      <span class="blue-highlight">metro areas</span>
      (or areas that have more than 50,000 people) have
      <span class="blue-highlight">higher access to and usage of broadband.</span>
    </div>
  </div>
  <div class="static-container" id="static-class">
    <div class="svg-header">Availability vs. Utilization Across Income</div>
    <div class="svg-subheader"><span class="blue-highlight">High-income counties</span>
      (or those with a median income that's at least 30% above the national
      median) have
      <span class="blue-highlight">higher access to and usage of broadband.</span>
    </div>
  </div>
</div>
