<div class="visualization">
  <div class="svg-container static-container" id="static-type">
    <div class="title">Broadband and Area Type</div>
    <div class="subtitle">Counties that are
      <span class="blue-highlight">metro areas</span>
      have higher access to and usage of broadband.
    </div>
    <div class="note">As defined by the Census Bureau, metro areas have more
      than 50,000 people. Conversely, micro areas have at least 2,500 people but
      less than 50,000.</div>
  </div>
  <div class="static-container" id="static-class">
    <div class="title">Broadband and Income</div>
    <div class="subtitle"><span class="blue-highlight">High-income counties</span>
      have higher access to and usage of broadband.
    </div>
    <div class="note">We define high-income as counties with a median income
      that's 30% above the national median. Middle-income counties are at least
      30% of the national median, but less than 30% above.</div>
  </div>
</div>
