<div class="section" id="static-viz">
  <div class="svg-container static-container" id="static-type">
    <div class="section-subheader">Availability vs. Utilization Across Count
      Type</div>
  </div>
  <div class="static-container" id="static-class">
    <div class="section-subheader">Availability vs. Utilization Across Income</div>
  </div>
</div>
