<div class="visualization">
  <div class="header">
    <div class="title">
      Top 15 Counties with Lowest
      <span id="intersection-title-metric"> Availability</span>
    </div>
    <div class="subtitle">Low-income counties where over
      <span class="blue-highlight">
        50% or more of the population is not white
      </span>
      may be most impacted by the divide, even in metro areas.
    </div>
    <div class="note">Blue bars represent counties where majority of the
      population is not white and grey bars represent counties where majority of
      the population is white.</div>
  </div>
  <div class="controls">
    <div class="control-group" id="intersection-type">
      <label class="control-label"> County Type: </label>
      <div>
        <button class="button current" data-val="metro">Metro</button>
        <button class="button" data-val="micro">Micro</button>
        <button class="button" data-val="neither">Neither</button>
      </div>
    </div>
    <div class="control-group" id="intersection-class">
      <label class="control-label">Income Type: </label>
      <div>
        <button class="button current" data-val="low">Low</button>
        <button class="button" data-val="high">High</button>
      </div>
    </div>
    <div class="control-group" id="intersection-metric">
      <label class="control-label"> Metric: </label>
      <div>
        <button
          class="button current"
          data-val="availability"
        >Availability</button>
        <button class="button" data-val="usage">Usage</button>
      </div>
    </div>
  </div>
  <div class="multi-chart">
    <div id="intersection-table">
      <table>
        <thead class="table-header-row">
          <th class="table-header">County</th>
          <th class="table-header" id="table-header-metric"></th>
          <th class="table-header">White</th>
          <th class="table-header">Black</th>
          <th class="table-header">Asian</th>
          <th class="table-header">Latino</th>
          <th class="table-header">Native</th>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
    <div class="chart" id="intersection">
    </div>
  </div>
</div>
