<div class="section" id="comparison">
  <div class="controls"></div>
  <div class="svg-container" id="comparison-plot">
    <div class="svg-header" id="comparison-header">Broadband Availability vs.
      Usage</div>
    <div class="svg-subheader" id="comparison-subheader">
      <span> In
        <select class="svg-input" id="comparison-state"></select>
        , on average,
      </span>
      <span class="svg-output" id="comparison-availability"> 20% </span>
      <span> of each county has <span>
      <span> access to broadband </span>
      <span id="comparison-conjunction"> but only </span>
      <span class="svg-output" id="comparison-usage"> 40% </span> <span> is actually using it. </span>
  </div>
</div>
