<div class="section" id="comparison">
  <div class="svg-container" id="comparison-plot">
  </div>
  <div class="comparison-sidebar">
    <div class="comparison-summary">
      <span> Across </span>
      <span><select name="state" id="state-dropdown">, </select>
      <span>45</span>
      <span> counties do not have at least 80% of is </span>
    </div>
    <div class="comparison-controls"></div>
  </div>
</div>
