<div class="visualization" id="vis-comparison">
  <div class="header">
    <div class="title">Comparing Access to the Usage of Broadband</div>
    <div class="subtitle">
      <span>
        In
        <select class="inputs selection" id="comparison-state"></select>
        , on average,
      </span>
      <span class="highlight">
        <span id="comparison-availability"> 20% </span>
        of each county has access to broadband
      </span>
      <span>&nbsp;but only&nbsp;</span>
      <span class="highlight highlight-light">
        <span id="comparison-usage"> 40% </span>
        makes use of it.
      </span>
    </div>
    <div class="note">Select a state to see other counties. The larger the
      circle, the larger the county's popualtion.</div>
  </div>
</div>
