<div class="chart-cartogram">
  <div class="cartogram-summary">
    There are
    <span class="summary-count"> 400 </span>
    counties in the U.S. where
    <span class="summary-percentage">
      <span id="percentage-text"></span>
      <span class="percentage-slider">
        <input
          type="range"
          name="percentage-slider-input"
          id="percentage-slider-input"
          min="10"
          max="100"
          step="10"
        />
      </span>
    </span>
    of the county's population
    <span class="summary-property">
      <select name="property" id="property">
        <option value="availability">has access to broadband</option>
        <option value="usage">uses broadband</option>
      </select>
    </span>.
  </div>
</div>
