<div class="section" id="intersection">
  <div class="left-panel">
    <div class="svg-header">
      Top 10
      <span>Low-</span>Income
      <span>Metro</span>
      Areas with the Lowest
      <span>Availability</span>
    </div>
    <div class="controls">
      <div class="location-input">
        <button>Metro</button>
        <button>Micro</button>
        <button>Neither</button>
      </div>
      <div class="class-input">
        <button>Low</button>
        <button>High</button>
      </div>
      <div>
        <button>Availability</button>
        <button>Usage</button>
      </div>
    </div>
    <div id="intersection-table"></div>
  </div>
  <div class="right-panel">
    <div class="svg-container" id="intersection-plot">
    </div>
  </div>
</div>
