<div class="section" id="comparison">
  <div class="svg-container" id="comparison-plot">
  </div>
  <div class="comparison-sidebar">
    <div class="comparison-summary">
    </div>
    <div class="comparison-controls"></div>
  </div>
</div>
