<div class="visualization" id="vis-cartogram">
  <div class="header">
    <div class="title">Broadband Availability and Usage Across U.S. Counties</div>
    <div class="subtitle">
      <span> Of the 3,140 counties in our data, there are </span>
      <span class="highlight">
        <span id="summary-count"></span>
        <span> counties </span>
      </span>
      <span>&nbsp;where</span>
      <span class="inputs">
        <span class="highlight" id="cartogram-percentage"></span>
        <span>
          <input
            type="range"
            id="cartogram-slider"
            min="0"
            max="100"
            step="10"
          />
        </span>
      </span>
      of the county's residents
      <select name="type" class="inputs selection" id="summary-type">
        <option value="availability">has access to broadband</option>
        <option value="usage">uses broadband</option>
      </select>
      <span>.</span>
    </div>
  </div>
</div>
