<div id="intersection">
  <div class="left-panel">
    <div class="svg-header">
      Top 10
      <span>Low-</span>Income
      <span>Metro</span>
      Areas with the Lowest
      <span>Availability</span>
    </div>
    <div class="controls">
      <div id="type">
        <button class="button current" data-val="metro">Metro</button>
        <button class="button" data-val="micro">Micro</button>
        <button class="button" data-val="neither">Neither</button>
      </div>
      <div id="class">
        <button class="button current" data-val="low">Low</button>
        <button class="button" data-val="high">High</button>
      </div>
      <div id="metric">
        <button
          class="button current"
          data-val="availability"
        >Availability</button>
        <button class="button" data-val="usage">Usage</button>
      </div>
    </div>
    <div id="intersection-table">
      <table>
        <thead>
          <th class="table-header">County</th>
          <th class="table-header" id="table-header-metric"></th>
          <th class="table-header">% White</th>
          <th class="table-header">% Black</th>
          <th class="table-header">% Asian</th>
          <th class="table-header">% Latino</th>
          <th class="table-header"> % Native Amer. </th>
        </thead>
        <tbody id="table-body"></tbody>
      </table>
    </div>
  </div>
  <div class="right-panel">
    <div class="svg-container" id="intersection-plot">
    </div>
  </div>
</div>
